h2{
    color: rgb(87, 87, 170);
}

h1{
    color: rgb(109, 222, 250);
}

/* ENCABEZADO */
.Encabezado{
    background-color: aliceblue;
    width: 100%;
    display: flex;
}

/* LOGO */
.logoDiv{
    width: 20%;
    background-color: rgb(98, 150, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoDiv img{
    width: 250px;
}

/* MENU */
.menuDiv{
    width: 60%;
    background-color: rgb(98, 150, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuDiv ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 175, 175);
    padding: 20px;
    justify-content: center;
}

.menuDiv ul li{
    padding: 10px;
}

.menuDiv ul li a{
    text-decoration: none;
    color:white;
    display: block;
    padding: 10px;
}

.menuDiv ul li a:hover{
    background-color: rgb(175, 181, 187);
}

/* REDES */
.redesDiv{
    width: 20%;
    background-color:  rgb(98, 150, 163);
    justify-content: center;
    align-items: center;
    display:flex;
}

.redesDiv ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.redesDiv img{
    width: 32px;
}
