.parallax{
  height:300px;
  background-attachment:fixed;
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:30px;
}
